{:paths []
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.apache.calcite/calcite-core {:mvn/version "1.34.0"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}}
          :ns-default build}}}
